<nav class="navbar fixed-top navbar-expand-lg navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">{{ title }}</a>

  <div class="collapse navbar-collapse show" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLink="/Home"
          >Home</a
        >
      </li>
      <li class="nav-item" *ngIf="!userLoggedIn()">
        <a
          class="nav-link"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLink="/Login"
          >Login</a
        >
      </li>
      <li class="nav-item" *ngIf="!userLoggedIn()">
        <a
          class="nav-link"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLink="/Signup"
          >Signup</a
        >
      </li>
    </ul>

    <p *ngIf="this.userName" style="color:antiquewhite">
      Welcome {{ this.userName }}
    </p>

    <button *ngIf="userLoggedIn()" (click)="onLogOut()" class="btn btn-primary">
      Logout
    </button>
  </div>
</nav>
