<div style="height:300px"></div>
<div class="card-body">
  <div class="input-group mb-3">
    <div class="col-md-4">
      <input
        type="text"
        class="form-control"
        aria-label="Search"
        aria-describedby="basic-addon1"
        [(ngModel)]="query"
      />
      <button (click)="search()">Search</button>
    </div>
  </div>
  <div *ngIf="books.length">
    <table class="table" *ngFor="let book of books">
      <tr>
        <td>
          <img [src]="book.smallThumbnailUrl" alt="thumbnail" />
          <h3>{{ book.title }}</h3>
          <h4>{{ book.authors }}</h4>
          <button (click)="loadBook(book.id)">Details</button>
        </td>
      </tr>
    </table>
  </div>
</div>
